{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'app.header.edit_answer'|trans }}{% endblock %}

{% block body %}
    <h3><a href="{{ path('answer_index') }}">{{ 'app.header.answer_list'|trans }}</a> | {{ 'app.header.edit_answer'|trans }}</h3>

    {{ include('answer/_form.html.twig', {'button_label': 'app.button.update'|trans}) }}
{% endblock %}
