{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'app.header.new_answer'|trans }}{% endblock %}

{% block body %}
    <h3><a href="{{ path('answer_index') }}">{{ 'app.header.answer_list'|trans }}</a> | {{ 'app.header.new_answer'|trans }}</h3>

    {{ include('answer/_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>new SimpleMDE();</script>
{% endblock %}
