{% extends 'base.html.twig' %}

{% block main %}
    <div class="d-flex flex-column align-items-center">
        {{ parent() }}
        <form class="form-inline mb-4 search-form" method="get" action="/">
            <input class="form-control" name="search" type="text" autofocus placeholder="{{ 'app.placeholder.seach'|trans }}...">
            <button id="search" class="btn btn-link action-search" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="{{ path('answer_index') }}">{{ 'app.link.manage_answers'|trans }}</a>
    </div>
{% endblock %}

{% block body %}
    {% if answers is defined and answers is not empty %}
        {% for answer in answers %}
            <div class="card mt-3">
                <div class="card-header">{{ answer.entry }}</div>
                <div class="card-body">
                    <div class="card-text">{{ answer.content|markdown }}</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
