{% extends 'base.html.twig' %}

{% set with_entries = entries is defined and entries is not empty %}

{% block container_class %}{% if not with_entries %}homepage-center{% endif %}{% endblock %}

{% block main %}
    <div class="d-flex flex-column align-items-center">
        {{ parent() }}
        <form class="form-inline mb-4 search-form" method="get" action="/">
            <input class="form-control" name="search" type="text" autofocus placeholder="{{ 'app.placeholder.seach'|trans }}...">
            <button id="search" class="btn btn-link action-search" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="{{ path('entry_index') }}">{{ 'app.link.manage_entries'|trans }}</a>
    </div>
{% endblock %}

{% block body %}
    {% if with_entries %}
        {% for entry in entries %}
            <div class="card mt-3">
                <div class="card-header">{{ entry.title }}</div>
                <div class="card-body">
                    <div class="card-text">{{ entry.content|markdown }}</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
