{% extends 'base.html.twig' %}

{% block body %}
    <form class="form-inline" method="get" action="/">
        <input class="form-control mr-2" name="search" type="text">
        <button id="search" class="btn btn-primary action-search" type="submit">{{ 'app.button.search'|trans }}</button>
    </form>

    {% if answers is defined and answers is not empty %}
        {% for answer in answers %}
            <ul>
                <li>
                    <strong>{{ answer.question }}</strong>
                    <br>
                    <p>{{ answer.content }}</p>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

    <hr>

    <a href="{{ path('answer_index') }}">{{ 'app.link.manage_answers'|trans }}</a>
{% endblock %}
