{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'app.header.edit_entry'|trans }}{% endblock %}

{% block body %}
    <h3><a href="{{ path('entry_index') }}">{{ 'app.header.entry_list'|trans }}</a> | {{ 'app.header.edit_entry'|trans }}</h3>

    {{ include('entry/_form.html.twig', {'button_label': 'app.button.update'|trans}) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>{% include 'entry/_markdown_editor.js.twig' %}</script>
{% endblock %}
